$mobile-width: 767px;
$tablet-width: 1023px;

$basic-black: #141517;
$accent-basic: #FE7865;
$accent-hover: #F17D4B;
$light-black: #2C2E3F;
$medium-black: #48494D;
$basic-white: #ffffff;
$light-grey: #FBF8F8;
$divider: #D7D9DF;
$black: #000000;
$light-bg: #FBF8F8;
