$mobile-width: 767px;
$tablet-width: 1023px;

$basic-black: #141517;
$accent-basic: #fe7865;
$accent-hover: #f17d4b;
$light-black: #2c2e3f;
$medium-black: #48494d;
$basic-white: #ffffff;
$light-grey: #fbf8f8;
$divider: #d7d9df;
$black: #000000;
$light-bg: #fbf8f8;
$promo-bg: #4c7997;
