.burger {
  display: none;
}

@media (max-width: $tablet-width) {
  .burger {
    border: none;
    display: block;
    height: 100%;
    width: 72px;
    background-color: $accent-basic;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width) {
  .burger {
    width: 50px;
  }
}
