.error-message-wrapper {
  position: relative;
}

.error-message-wrapper::after {
  display: none;
}

.error-message-wrapper--show.error-message-wrapper::after {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  content: "Данные не верны";
  position: absolute;
  top: -15px;
  left: 0;
  color: $accent-basic;
}

.error-message-wrapper--show input {
  border-color: $accent-basic;
}
