.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 15px;
}

.logo {
  width: 55px;
  height: 22px;
}

@media (max-width: $tablet-width) {
  .main-header {
    height: 50px;
    padding: 0;
    padding-left: 21px;
  }

  .logo {
    width: 44px;
    height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .main-header {
    padding-left: 16px;
  }
}
