.popup {
  display: none;
}

.popup__image-wrapper {
  display: block;
  width: 338px;
}

.popup-wrapper {
  height: 444px;
  display: flex;
  z-index: 1;
  position: relative;
}

.popup__form-wrapper {
  height: 100%;
  background-color: $light-bg;
  padding: 20px 60px 0 60px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  display: flex;
  position: relative;
}

.popup--open {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__close {
  position: absolute;
  top: 21px;
  right: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.popup__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 52px;
  color: $medium-black;
}

.popup__icon {
  margin-left: auto;
  width: 22px;
  height: 22px;
}

.popup__button {
  width: 176px;
  padding: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;
  border: none;
  background-color: $accent-basic;
}

.popup__input {
  border: 1px solid rgba($light-black, 0.3);
  padding: 14px 14px;
  padding-top: 18px;
  box-sizing: border-box;
  margin-bottom: 19px;
  width: 270px;
}

.popup__input--tel {
  padding-left: 51px;
}

.popup__input-wrapper {
  position: relative;
}

.popup__input-wrapper::before {
  position: absolute;
  content: "*";
  top: 6px;
  left: 15px;
  color: $accent-basic;
}

.popup__input-wrapper::after {
  position: absolute;
  content: "+7";
  top: 18px;
  left: 26px;
  color: $basic-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $basic-black;
}

@media (max-width: $mobile-width) {
  .popup__image-wrapper {
    display: none;
  }

  .popup-wrapper {
    height: 568px;
  }

  .popup__form-wrapper {
    background-color: $basic-white;
    padding-left: 16px;
    padding-right: 16px;
    width: 320px;
  }

  .popup__button {
    width: 100%;
    padding: 20px;
  }

  .popup__input {
    width: 100%;
    margin-bottom: 19px;
  }
}
