.price {
  display: flex;
  position: relative;
  margin-top: -571px;
  color: $light-black;
  padding: 34px 15px 70px 15px;
}

.price__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
}

.price__subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
}

.price__item {
  padding: 0 30px;
  box-sizing: border-box;
  margin-left: 30px;
  height: 672px;
  width: 370px;
  border: 3px solid rgba($light-black, 0.3);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-shrink: 0;
  cursor: pointer;
}

.price__item:nth-of-type(1) {
  margin-left: 0;
}

.price__item:hover {
  border-color: $accent-basic;
  border-width: 3px;
}

.price__item:hover .price__subtitle,
.price__item:hover .price__price {
  color: $accent-basic;
}

.price__item:hover .divider {
  background-color: rgba($accent-basic, 0.5);
}

.price__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
}

.price__price,
.price__subtitle {
  color: rgba($basic-black, 0.7);
}

.price__text {
  margin: 0;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  color: $light-black;
}


.price__description .price__text {
  color: rgba($light-black, 0.7);
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  padding-right: 17px;
}

.price__item .divider {
  height: 1px;
  width: 100%;
}

.price__description {
  width: 310px;
  padding-top: 113px;
  background-color: transparent;
  margin-left: 90px;
}

.price__advantages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.price__advantage {
  display: flex;
  padding-bottom: 14px;
}

.price__icon {
  padding: 4px 0;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: $accent-basic;
}

.price__item:hover .price__icon {
  fill: $basic-black;
}

.price__advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $light-black;
}

.price__button {
  width: 100%;
  padding: 30px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  margin-top: auto;
}

.price__button:hover {
  background-color: $accent-hover;
}

.price__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  margin: 0;
  padding-bottom: 15px;
}

.price__description .divider {
  width: 175px;
  height: 3px;
  background-color: $accent-basic;
}

.price__send-us {
  font-weight: 500;
  font-size: 22px;
  color: $basic-black;
  display: flex;
  flex-direction: column;
  line-height: 34px;
  align-items: center;
  padding-top: 29px;
}

.price__link {
  font-size: 20px;
  line-height: 32px;
  color: $black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 13px;
  cursor: pointer;
}

.price__phone {
  stroke: $accent-basic;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.price__text br {
  display: none;
}

@media (max-width: $tablet-width) {
  .price {
    margin-top: 0;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 50px;
    row-gap: 40px;
    padding-bottom: 111px;
  }

  .price__item:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: auto;
  }

  .price__item:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 0;
    margin-right: auto;
  }

  .price__advantages {
    padding: 20px 17px 0;
  }

  .price__advantage {
    padding-bottom: 8px;
  }

  .price__item {
    width: 288px;
    padding: 0;
    padding-top: 27px;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    height: 626px;
    border-width: 1px;
  }

  .price__item:hover {
    border-width: 1px;
    box-shadow: inset 0 0 0 3px $accent-basic;
  }

  .price__header {
    flex-direction: column;
    padding: 0;
    padding-bottom: 13px;
  }

  .price__description {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 0;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
  }

  .price__text br {
    display: block;
  }

  .price__description .divider {
    display: none;
  }

  .price__title {
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 18px;
  }

  .price__link {
    color: $accent-basic;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .price__phone {
    display: none;
  }

  .price__send-us {
    padding-top: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
  }

  .price__item--accent {
    border-color: $accent-basic;
    border-width: 3px;
  }

  .price__item--accent .price__subtitle,
  .price__item--accent .price__price {
    color: $accent-basic;
  }

  .price__item--accent .divider {
    background-color: rgba($accent-basic, 0.5);
  }

  .price__subtitle {
    font-size: 24px;
    line-height: 38px;
  }

  .price__price {
    padding-top: 7px;
  }

  .price__text {
    text-align: center;
    font-size: 16px;
    line-height: 32px;
  }

  .price__description .price__text {
    line-height: 170%;
    padding: 0 16px;
  }

  .price__advice {
    line-height: 24px;
    padding: 0 16px;
    padding-bottom: 7px;
  }

  .price__item .divider {
    margin-left: 16px;
    width: 248px;
  }

  .price__button {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 2px;
  }

  .price__item:nth-of-type(2) .price__advantage {
    padding-bottom: 12px;
  }
}

@media (max-width: $mobile-width) {
  .price__description {
    padding-top: 60px;
  }

  .price__description .price__text {
    padding: 0 11px;
  }

  .price {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, max-content );
    padding-top: 0;
    padding-bottom: 48px;
  }

  .price__item {
    height: 629px;
    padding: 27px 16px 0;
  }

  .price__item:nth-of-type(2) .price__advantage {
    padding-bottom: 10px;
  }

  .price__header {
    padding-bottom: 12px;
  }

  .price__item:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
  }

  .price__item:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0 auto;
  }

  .price__title {
    font-size: 24px;
    padding-bottom: 15px;
  }

  .price__send-us {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 10px;
  }

  .price__link {
    font-size: 18px;
    font-weight: 400;
    padding-top: 11px;
  }

  .price__subtitle {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 38px;
  }

  .price__item .price__text {
    line-height: 24px;
    padding-bottom: 7px;
  }

  .price__advantages {
    padding: 22px 0 0;
  }

  .price__advantage {
    padding-bottom: 8px;
  }

  .price__price {
    padding-top: 0;
  }
}
