.promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $promo-bg;
}

.promo__image {
  object-fit: cover;
  width: 100%;
}

.promo {
  position: relative;
  height: 860px;
}

.promo__button {
  width: 280px;
  padding: 28px 20px 25px 40px;
  border: none;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-decoration: none;
}

.promo .wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
}

.promo__content {
  margin-right: 58px;
  margin-left: auto;
  padding-top: 185px;
  color: $basic-white;
  width: 412px;
}

.promo__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  margin: 0;
  padding-bottom: 30px;
}

.promo__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  padding-bottom: 33px;
  letter-spacing: -0.466667px;
}

.promo__title-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .promo__image {
    height: 344px;
  }

  .promo__content {
    margin-right: 50%;
    padding-top: 60px;
    transform: translateX(47%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398px;
  }

  .promo__title {
    display: block;
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 15px;
    letter-spacing: normal;
  }

  .promo__text {
    padding-bottom: 10px;
  }

  .promo__button {
    width: 250px;
    padding: 16px 30px 16px 40px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .promo {
    height: 344px;
  }
}


@media (max-width: $mobile-width) {
  .promo__image {
    height: 235px;
  }

  .promo__title {
    display: none;
  }

  .promo__title-mobile {
    display: block;
    position: absolute;
    font-weight: 600;
    line-height: 150%;
    font-size: 24px;
    top: 17%;
    left: 50%;
    width: 294px;
    text-align: center;
    transform: translateX(-50%);
    letter-spacing: normal;
    margin: 0;
    margin-bottom: 102px;
    color: $basic-white;
  }

  .promo__button {
    width: 288px;
    padding: 17px 25px 16px 40px;
  }

  .promo {
    height: auto;
  }

  .promo__content {
    width: 100%;
    padding: 16px 16px 40px 16px;
    box-sizing: border-box;
    transform: none;
  }

  .promo__bg {
    position: static;
  }

  .promo__text {
    padding-bottom: 20px;
    line-height: 170%;
    color: $light-black;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
  }
}
