.questions__form-wrapper {
  width: 656px;
  height: 315px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  padding: 50px;
  box-sizing: border-box;
  background-color: $basic-white;
  transform: translateX(-50%);
  margin-top: 70px;
  flex-shrink: 0;
}

.questions {
  position: relative;
  padding: 70px 15px 100px;
  display: flex;
}

.questions__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-top: 15px;
  padding-bottom: 21px;
  margin: 0;
}

.questions__input {
  width: 269px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid rgba(44, 46, 63, 0.3);
}

.questions__input.questions__input--tel {
  padding-left: 51px;
}

.questions__input:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.questions__input:nth-of-type(2) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.questions__form {
  column-gap: 20px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
}

.questions__button {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin: 0 auto;
  width: 176px;
  padding: 18px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.questions__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}


.questions__input-wrapper {
  position: relative;
}

.questions__input-wrapper::before {
  position: absolute;
  content: "*";
  top: 6px;
  left: 15px;
  color: $accent-basic;
}

.questions__input-wrapper::after {
  position: absolute;
  content: "+7";
  top: 17px;
  left: 26px;
  line-height: 17px;
  color: $basic-black;
}

@media (max-width: $tablet-width) {
  .questions__form-wrapper {
    box-shadow: none;
    transform: none;
    margin-top: -384px;
    margin-left: auto;
    margin-right: auto;
    width: 658px;
    height: 306px;
  }

  .questions__text {
    padding-top: 8px;
  }

  .questions {
    flex-direction: column;
    padding: 0;
    height: 455px;
  }

  .questions__input {
    width: 269px;
    box-sizing: border-box;
  }

  .questions__button {
    width: 250px;
    box-sizing: border-box;
    margin-top: 25px;
  }

  .questions__image {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .questions__image {
    display: none;
  }

  .questions__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .questions__form-wrapper {
    background-color: $light-bg;
    position: static;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 35px 16px;
    margin: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    padding-top: 55px;
  }

  .questions {
    padding-bottom: 0;
    height: 441px;
  }

  .questions__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  }

  .questions__text {
    font-size: 16px;
    line-height: 150%;
    padding-top: 22px;
    padding-bottom: 18px;
  }

  .questions__button,
  .questions__input {
    width: 100%;
  }

  .questions__input {
    padding: 16px;
    margin-bottom: 18px;
  }

  .questions__button {
    margin-top: 0;
    padding: 19px;
    margin-bottom: 0;
  }

  .questions__input--tel {
    padding-left: 30px;
  }

  .questions__input:placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .questions__input-wrapper::after {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
